@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.footer-header {
	background-color: #303747;
	box-shadow: 0px 0px 40px #000040;
}

.footer-header a:hover {
	text-decoration: none;
}

.footer-link {
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
}

.display-table {
	display: table;
}

.table-cell {
	vertical-align: middle;
	display: table-cell;
}

.footer-icon {
	font-size: 40px;
	margin: 10px 10px 0px 0px;
}

.footer-body {
	background-color: rgba(24, 32, 51, 0.95);
	padding: 30px 10px 30px 10px;
}

.fbody-head, .fbody-head ul li, fbody-content ul, li {
	color: white;
}

.footer-footer {
	background-color: #303747;
	padding: 30px 15px 30px 15px;
	box-shadow: 40px 0px 0px #000040;
}

.input-group-fix-color {
	box-shadow: none !important;
	border-color: #303757 !important;
	background-color: rgba(40, 47, 63, 0) !important;
}

.input-group-fix-border-right {
	border-right: 0px !important;
	height: 45px !important;
}

.input-group-fix-border-left {
	border-left: 0px !important;
	height: 45px !important;
}

.input-group-size {
	border: 5px !important;
	margin: 5px 0px 5px 0px;
	width: 70%;
}

.ft-img,
.ft-img img{
	background-color: rgba(24, 32, 51, 0.95);
	border-radius: 5px;
	width: 70px;
	height: 70px;
}