header .navbar {
	background-color: #05293a;
	padding: 20px 0;
	box-shadow: 0px 0px 40px black;
	border: 0;
	margin-bottom: 50px;
}

.navbar-nav a {
	color: white;
}

header .clear {
	height: 110px;
}

p {
	word-wrap: break-word;
}

#home {
	background-image: url("../icon/logo.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	margin: auto 10px;
}

#search {
	color: #30aee8;
}

.navbar-nav > li > a {
	background-color: #05293a !important;
	color: white !important;
	font-weight: bold;
}

.navbar-nav > li > a:FOCUS, .navbar-nav > li > a:HOVER {
	background-color: #05293a !important;
	color: #30aee8 !important;
}

.dropdown-menu a:HOVER {
	color: #30aee8 !important;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 20px;
	border: 0;
	border-radius: 4px;
}

.btn-default {
	background-color: #30aee8 !important;
	color: white !important;
	font-weight: bold !important;
}

.btn-default:HOVER, .btn-default:FOCUS{
	background-color: #19a5e6 !important;
}

#btn-add-event {
    display: inline-block;
    margin-top: 8px;
    border: 1px solid #30aee8;
    padding: 6px 12px;
}

@media screen and (max-width: 768px) {
	#btn-add-event {
	    top: auto !important;
	    bottom: 10%;
    	left: 0;
	}
}

@media screen and (max-width: 900px) {
	#btn-add-event {
	    position: fixed;
		top: 50%;
	    right: 0;
	    margin-bottom: 0;
	    z-index: 1030;
	}
}

.clear {
	clear: inherit;
}